{% load staticfiles %}
<html>
{% if user.is_authenticated %}
<div><a href="{% url 'post_new' %}" >Add post</a></div>
{% endif %}
    <head>
        <title>My blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
            <div><a href="{% url 'post_new' %}" >Add post</a></div>
        </div>

        <div>
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>
