
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div>
            <div>
                {{ post.published_date }}
            </div>
            <h1>
              <a href="{% url 'post_detail' pk=post.pk %}">
                {{ post.title }}
              </a>
            </h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
<html>
    <p>Hello!</p>
    <p>It works!</p>
    <div>
    <h1><a href="/">My Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

</html>
